<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dap_k1"
        tools:targetApi="31">


        <activity android:name=".DicActivity" />
        <activity android:name=".dutymiriActivity" />
        <activity android:name=".updateActivity" />
        <activity android:name=".healthmiriActivity" />
        <activity android:name=".moneymiriActivity" />
        <activity android:name=".jobmiriActivity" />
        <activity android:name=".lifemiriActivity" />
        <activity android:name=".Duty2Activity" />
        <activity android:name=".armymiriActivity" />


        <!-- 스플래시 화면을 시작점으로 설정 -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 스플래시 후 전환될 메인 액티비티 -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>
